---
import Layout from '../../layouts/Layout.astro';


type Language = 'en' | 'el';
interface data {
	title: string;
	description: string,
	lang: Language
}

const data = {
	title: 'Passenger Information - Thessaloniki Metro',
	description: "Important information for passengers using the Thessaloniki Metro, including accessibility, services, and safety tips.",
	lang: "en" as Language,
}

---

<Layout title={data.title}  description={data.description}>
	<main>
        <h1>{data.title}</h1>
	</main>
</Layout>
<style>

</style>
