---
import Layout from '../../layouts/Layout.astro';
import Journerplanner from '../../components/Journeyplanner.vue';

---

<Layout title="Thessaloniki Metro">
	<main>
		<Journerplanner />
	</main>
</Layout>

<style>

</style>
