---
import Layout from '../../layouts/Layout.astro';
import Journerplanner from '../../components/Journeyplanner.vue';

---

<Layout title="Thessaloniki Metro" description="Discover the latest news, maps, and updates about the Thessaloniki Metro. Your guide to routes, stations, and everything you need to know about Thessaloniki's upcoming subway.">
	<main>
		<Journerplanner lang="en"/>
	</main>
</Layout>
<style>

</style>
