---
import Layout from '../../layouts/Layout.astro';


type Language = 'en' | 'el';
interface data {
	title: string;
	description: string,
	lang: Language
}

const data = {
	title: 'Thessaloniki Metro News & Updates',
	description: "Stay updated with the latest news and developments related to the Thessaloniki Metro, including service updates and project progress.",
	lang: "en" as Language,
}

---

<Layout title={data.title}  description={data.description}>
	<main>
        <h1>{data.title}</h1>
	</main>
</Layout>
<style>

</style>
