---
import Layout from '../layouts/Layout.astro';


type Language = 'en' | 'el';
interface data {
	title: string;
	description: string,
	lang: Language
}

const data = {
	title: 'Πληροφορίες για Επιβάτες - Μετρό Θεσσαλονίκης',
	description: "Σημαντικές πληροφορίες για τους επιβάτες του Μετρό Θεσσαλονίκης, συμπεριλαμβανομένης της προσβασιμότητας, των υπηρεσιών και των συμβουλών ασφαλείας.",
	lang: "el" as Language,
}

---

<Layout title={data.title}  description={data.description}>
	<main>
        <h1>{data.title}</h1>
	</main>
</Layout>
<style>

</style>
