---
import Layout from '../layouts/Layout.astro';
import Journerplanner from '../components/Journeyplanner.vue';

---

<Layout title="Μετρό Θεσσαλονίκης"  description="Ανακαλύψτε τα τελευταία νέα, χάρτες και ενημερώσεις για το Μετρό Θεσσαλονίκης. Οδηγός για τις διαδρομές, τους σταθμούς και ό,τι πρέπει να γνωρίζετε για το νέο μετρό.">
	<main>
		<Journerplanner lang="el"/>
	</main>
</Layout>

<style>

</style>
