---
import Layout from '../layouts/Layout.astro';
import Journerplanner from '../components/Journeyplanner.vue';

const data = {
	title: 'Μετρό Θεσσαλονίκης',
	description: "Ανακαλύψτε τα τελευταία νέα, χάρτες και ενημερώσεις για το Μετρό Θεσσαλονίκης. Οδηγός για τις διαδρομές, τους σταθμούς και ό,τι πρέπει να γνωρίζετε για το νέο μετρό.",
	lang: "el"
}

---

<Layout title={data.title}  description={data.description}>
	<main>
		<Journerplanner lang={data.lang}/>
	</main>
</Layout>
<style>

</style>
