---
import Layout from '../layouts/Layout.astro';
import Journerplanner from '../components/Journeyplanner.vue';

---

<Layout title="Μετρό Θεσσαλονίκης">
	<main>
		<Journerplanner />
	</main>
</Layout>

<style>

</style>
