---
import Layout from '../layouts/Layout.astro';
import Journerplanner from '../components/Journeyplanner.vue';
import NewsHighlights from '../components/NewsHighlights.astro';

type Language = 'en' | 'el';
interface data {
	title: string;
	description: string,
	lang: Language
}

const data = {
	title: 'Μετρό Θεσσαλονίκης',
	description: "Ανακαλύψτε τα τελευταία νέα, χάρτες και ενημερώσεις για το Μετρό Θεσσαλονίκης. Οδηγός για τις διαδρομές, τους σταθμούς και ό,τι πρέπει να γνωρίζετε για το νέο μετρό.",
	lang: "el" as Language,
}

---

<Layout title={data.title}  description={data.description}>
	<main>
		<Journerplanner lang={data.lang}/>
		<NewsHighlights lang={data.lang} />
	</main>
</Layout>
<style>

</style>
