---

import Navbar from '../components/Navbar.astro';

const currentLang  = Astro.url.pathname.startsWith('/en') ? 'en' : 'el';

interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang={currentLang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navbar currentLang={currentLang} />
		<slot />
	</body>
</html>
<style is:global>
	:root {

	}
	@font-face {
		font-family: 'MoscowSans';
		src: url('/fonts/moscowsansregular.ttf') format('truetype');
	}

	html {
		font-family: MoscowSans, system-ui, sans-serif;
	}
	body {
		margin: 0;
		background-color: #ebebef;
		color: #1C2930
	}

</style>
